.Imgtk_barrydegraaff_useralias-panelIcon {
 background:url('/img/large.png?v=180928105053') 0px 0px no-repeat;
 width:16px !important;
 height:16px !important;
 overflow:hidden;
 background-size: 28px;
}
